<div class="container">
    <div class="row center-align white-text">
        <h1>Recommend reddit users</h1>
    </div>
    <div class="row center-align">
        <nav>
            <div class="nav-wrapper">
                <form>
                    <div class="input-field white black-text">
                        <input id="write_title" type="search" required autofocus>
                        <label class="label-icon" for="mode_edit"><i class="material-icons black-text">mode_edit</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>

</div>